<!-- Form top_pick start -->
<form action="/create_top_pick_from_venue" method="post">
<!-- Form top_pick end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <input type="hidden" name="venue_id" value="<%= @venue.id %>">
  <!-- Input for venue_id end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :cuisine_id, @top_pick.dish_id), :class => "form-control") %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create top pick
  </button>
</form>
