<form action="/create_top_pick_from_venue" method="post">

  <input type="hidden" name="venue_id" value="<%= @venue.id %>">

  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :cuisine_id, @top_pick.dish_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create top pick
  </button>
</form>
