<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Top Picks

    <a data-toggle="collapse" href="#venue_top_picks_new_form">
      Add top pick
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @venue.top_picks.each do |top_pick| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/top_picks/<%= top_pick.id %>">
          <%= top_pick.venue_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_top_pick_from_venue/<%= top_pick.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="venue_top_picks_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
