<h1>
  Edit name #<%= @name.id %>
</h1>

<hr>

<!-- Form name start -->
<form action="/update_name/<%= @name.id %>" method="post">
<!-- Form name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update name
  </button>
</form>

<hr>

<a href="/names">
  Go back
</a>
