<% if @name.errors.any? %>
  <% @name.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit name #<%= @name.id %>
</h1>

<hr>

<form action="/update_name/<%= @name.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update name
  </button>
</form>

<hr>

<a href="/names">
  Go back
</a>
