<h1>
  Add a new name
</h1>


<hr>

<!-- Form name start -->
<form action="/create_name" method="post">
<!-- Form name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create name
  </button>
</form>

<hr>

<a href="/names">
  Go back
</a>
